$col_left: 7;
$col_right: 1;
#searchBar {
    font-size: 18px;
    position: fixed;
    right: 60px;
    top: 120px;

    input {
        color: #AA9D87;
        border-radius: 20px;
        border: 1px solid #AA9D87;
        padding: 2px 15px;
        margin-right: 10px;
    }

    button {
        background-color: #AA9D87;
        color: #fff;
        border-radius: 20px;
        font-weight: 500;
        border: none;
        padding: 4px 13px;

        &:hover {
            background-color: #6C5E45;
        }
    }
};

#order {
    // height: 100%;
    width: 90%;
    // background-color: rgb(206, 245, 232);
    margin: auto;

    height: 90vh;
    overflow-y: auto;
    max-height: 78%;
    padding-bottom: 20px;
    // padding-right: 10px;

    &::-webkit-scrollbar {
        width: 10px;
        display: none;
    }

    &::-webkit-scrollbar-track {
        border: 1px solid #707070;
        border-radius: 10px;
        margin: 7px 0 24px;
    }

    &::-webkit-scrollbar-thumb {
        background: #6C5E45;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #7d6f52;
    }

    .start {
        // background-color: rgb(205, 191, 182);

        .title {
            color: #6C5E45;
            font-size: 20px;
            font-weight: 500;
            margin: 20px 0 10px;
        }

        .orders {
            // background-color: rgb(255,255,255,0.5);

            .order_ing {
                border: 2px solid #AA9D87;
                border-radius: 10px;
                padding: 10px 25px;
                position: relative;
                margin: 0 0 10px 0;
                transform: scale(0.98);

                &:hover{
                    border: 2px solid #6C5E45;
                    transform: scale(1);
                }

                * {
                    color: #6C5E45;
                    font-size: 20px;
                    margin: 2px 0;
                    font-weight: 600;
                }

                .row {
                    display: flex;

                    .item_left {
                        flex: $col_left;
                    }

                    .item_right {
                        display: flex;
                        justify-content: end;
                        flex: $col_right;
                    }

                }

                .timer {
                    font-weight: 700;
                    color: #CC6464;
                }

                button {
                    background-color: #FFBCA7;
                    color: #fff;
                    font-weight: 600;
                    padding: 2px 20px;
                    border-radius: 20px;
                    border: none;
                }

            }
        }
    }

    .end {
        // background-color: rgb(255, 117, 31,0.5);

        .title {
            color: #6C5E45;
            font-size: 20px;
            font-weight: 500;
            margin: 20px 0 10px;
        }

        .orders {
            // background-color: rgb(255,255,255,0.5);

            .order_end {
                border: 2px solid #AA9D87;
                border-radius: 10px;
                padding: 10px 25px;
                position: relative;
                margin: 0 0 10px 0;
                transform: scale(0.98);

                &:hover{
                    border: 2px solid #6C5E45;
                    transform: scale(1);
                }

                * {
                    color: #AA9D87;
                    font-size: 20px;
                    margin: 2px 0;
                    font-weight: 600;
                }

                .row {
                    display: flex;

                    .item_left {
                        flex: $col_left;
                    }

                    .item_right {
                        display: flex;
                        justify-content: end;
                        flex: $col_right;
                    }

                }

                .timer {
                    // font-weight: 700;
                    // color: #CC6464;
                    display: none;
                }

                button {
                    background-color: #FFC940;
                    color: #fff;
                    font-weight: 600;
                    padding: 2px 20px;
                    border-radius: 20px;
                    border: none;
                }

            }
        }
    }
}