$en-us-font: 'Hanna';
$zh-tw-font: 'jf open 粉圓字型';

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}
@keyframes fadeOutDown {
    0% {
        transform: translateY(0px);
        opacity: 100%;
    }

    100% {
        transform: translateY(20px);
        opacity: 0%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes fadeOut{
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

#editDialog {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #00000099;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    * {
        font-family: $en-us-font, $zh-tw-font;
        transition: all 0.8s ease;
    }

    &.editDialog_closing {
        opacity: 0;
        animation-name: fadeOut;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

    .container {
        position: relative;
        height: 100%;
        width: 100%;

        .dialog {
            width: 33%;
            height: 60%;
            background-color: white;
            position: absolute;
            top: 20%;
            left: 33%;
            transform: translate(-50%, -50%);
            border: 1px solid #A89E89;
            border-radius: 40px;

            opacity: 0;
            animation-name: fadeInUp;
            animation-duration: .5s;
            animation-fill-mode: forwards;
            animation-delay: 0s;

            &.dialog_closing {
                opacity: 0;
                animation-name: fadeOutDown;
                animation-duration: .5s;
                animation-fill-mode: forwards;
                animation-delay: 0s;
            }
            &.pwd_dialog {
                .dialog_body {

                    .title {
                        margin: 1rem;
                        font-size: 24px;
                    }
                }
            }

            &.pwd_withOld_dialog {
                padding: 0 0 5px 0;

                .dialog_body {
                    height: 70%;

                    .title {
                        margin: .5rem;
                        font-size: 24px;
                    }
                }

                .dialog_footer {
                    height: 30%;
                }
            }

            .dialog_body {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    margin: 2.5rem;
                    color: #6C5E45;
                    font-size: 30px;
                }

                input {
                    width: 80%;
                    height: 40px;
                    border-radius: 1000px;
                    border: 1px solid #6C5E45;
                    background-color: #FFFCF8;
                    padding: 0 10px;
                    text-align: center;
                    color: #6C5E45;
                    font-size: 20px;
                    font-family: $en-us-font, $zh-tw-font;
                }
            }

            .dialog_footer {
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .btn_container {
                    margin: 10px 0;

                    button {
                        background-color: #6C5E45;
                        border-radius: 22px;
                        color: #FFFFFF;
                        padding: 7px 50px;
                        font-size: 24px;
                        font-weight: 600;

                        &.cancel_btn {
                            background-color: #FFFFFF;
                            color: #6C5E45;
                        }
                    }
                }

            }
        }
    }
}