#img .pizza {
    width: 15vw;
    position: fixed;
    opacity: 0.5;
    bottom: 120px;
    right: -20px;
}

#img .rice {
    width: 10vw;
    position: fixed;
    opacity: 0.4;
    bottom: 0;
    right: 100px;
}

#img .color1 {
    width: 8vw;
    position: fixed;
    opacity: 0.5;
    bottom: 50px;
    right: 120px;
}

#img .color2 {
    width: 9vw;
    position: fixed;
    opacity: 0.5;
    bottom: 170px;
    right: 20px;
}

.animation {
    /* float: right; */
    position: absolute;
    /* top: 100px;
    left: 980px; */
    -webkit-animation: baloon_1 6s infinite;
    -moz-animation: baloon_1 6s infinite;
    -ms-animation: baloon_1 6s infinite;
    -o-animation: baloon_1 6s infinite;
    animation: baloon_1 6s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-moz-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-ms-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(20px);
    }
}

@-o-keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(20px);
    }
}

@keyframes baloon_1 {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(20px);
    }
}
@media screen and (max-Width:1020px) {
    #img .rice {
        right: 70px;
    }
    #img .color1 {
        right: 80px;
    }
    #img .pizza {
        bottom: 90px;
    }
    #img .color2 {
        bottom: 125px;
    }
}
@media screen and (max-Width:768px) {
    #img * {
        display: none;
    }
}