#create_btn {
    position: fixed;
    bottom: 20px;
    width: 54px;
    border-radius: 50px;
    background-color: #6C5E45;
    opacity: 0.9;
    border: 2px solid #6c5f45;
    right: 2vw;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
    transform: scale(0.8);

    &:hover {
        opacity: 1;
        transform: scale(1);
    }

    .circle {
        padding: 11px;

        // 提示訊息
        .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: rgba(0,0,0,0.8);
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* 定位 */
            position: absolute;
            top: -37px;
            left: -110px;
            z-index: 1;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }
}