@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: 'jf open 粉圓字型';
    src: url('../../Assets/fonts/jf-openhuninn-1.1.ttf');
}

* {
    font-family: 'jf open 粉圓字型';
    transition: all 0.8s ease;
}

::selection {
    background: #6C5E45;
    color: #fff;
}
body{
    /* background-color: #FFFCF8 !important; */
}
#home {
    background-color: #FFFCF8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .main {
    width: 800px;
    display: grid;
}

#home .main * {
    text-align: center;
    margin: 0;
}

#home .logo {
    width: 10vw;
}

#home .title * {
    opacity: 0%;
    font-size: 5vw;
    color: #6C5E45;
    font-family: 'Hanna', sans-serif !important;
    /* animation 參數設定 */
    animation-name: fadeInUp;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
    animation-delay: 1s;
    /*動畫延遲開始時間*/
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

#home .bottom button {
    opacity: 0%;
    width: 120px;
    border: 3px solid #6C5E45;
    border-radius: 18px;
    /* animation 參數設定 */
    animation-name: fadeInUp;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
    animation-delay: 1.5s;
    /*動畫延遲開始時間*/
}

#home .about-btn {
    color: #6C5E45;
    background-color: #FFFCF8;
}

#home .login-btn {
    color: #fff;
    background-color: #6C5E45;
}

#home .line {
    border: 1px solid #AA9D87;
    max-width: 80vw;
    /* animation 參數設定 */
    animation-name: openLine;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
}

@keyframes openLine {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

#home .middle_before * {
    opacity: 0%;
    color: #6C5E45;
    /* animation 參數設定 */
    animation-name: fadeInDown;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
    animation-delay: 1s;
    /*動畫延遲開始時間*/
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

#home .middle_after {
    background-color: #fff;
    border: 1px solid #AA9D87;
    border-radius: 25px;
    color: #AA9D87;
}


#home .login_block .login {
    color: #6C5E45;
}

#home .middle_after span {
    font-family: 'Hanna', sans-serif !important;
    font-weight: 400 !important;
}

#home .middle_after input {
    width: 422px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #AA9D87;
    color: #AA9D87;
    text-align: left !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AA9D87;
}

#home .middle_after .function_txt {
    justify-self: center;
    text-align: right !important;
}

#home .middle_after .function_txt span:hover {
    color: #6C5E45;
    cursor: pointer;
}

#home .line2 {
    border-bottom: 1px solid #AA9D87;
    max-width: 90vw;
}

#home .middle_after button {
    width: 250px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #AA9D87;
    color: #AA9D87;
}
.loginbtn{
    background-color: #6C5E45 !important;
    color: #fff !important;
}
.google_btn:hover {
    box-shadow: 3px 3px 0px #FFC940;
}

.line_btn:hover {
    box-shadow: 3px 3px 0px #FFBCA7;
}

#home .about_block div {
    width: 422px;
    height: 256px;
}

#home .byWHO {
    color: #FFBCA7;
    text-align: right;
    height: min-content !important;
}

#home .pizza {
    width: 45vw;
    position: fixed;
    top: -190px;
    left: -90px;
    /* animation 參數設定 */
    animation-name: fadeInRight;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-50px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 30%;
    }
}

#home .rice {
    width: 25vw;
    position: fixed;
    bottom: -50px;
    right: -50px;
    /* animation 參數設定 */
    animation-name: fadeInLeft;
    /*動畫名稱，需與 keyframe 名稱對應*/
    animation-duration: 1s;
    /*動畫持續時間，單位為秒*/
    animation-fill-mode: forwards;
    /*動畫停在最後一個影格上*/
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(50px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 30%;
    }
}


@media screen and (max-width: 768px) {
    #home .logo {
        width: 20vw;
    }

    #home .title * {
        font-size: 10vw;
    }

    #home .logo_active {
        width: 10vw !important;
    }

    #home .title_active * {
        font-size: 8vw !important;
    }

    #home .pizza {
        width: 60vw;
        top: -100px;
        left: -50px;
    }

    #home .rice {
        width: 40vw;
        bottom: -50px;
        right: -50px;
    }

    #home .about_block div {
        width: 300px;
    }

    #home .middle_after input {
        width: 300px;
    }
}

@media screen and (max-width: 486px) {
    #home .pizza {
        width: 70vw;
        top: -70px;
        left: -30px;
    }

    #home .rice {
        width: 50vw;
        bottom: -30px;
        right: -30px;
    }

    #home .about_block div {
        width: 250px;
    }

    #home .middle_after input {
        width: 250px;
    }
    #home .byWHO {
        text-align: center;
    }
}

#home .logo_active {
    width: 5vw;
    cursor: pointer;
}

#home .title_active * {
    font-size: 3vw;
    cursor: pointer;
}

#Copyright {
    color: #AA9D87;
    position: fixed !important;
    bottom: 0px !important;
    text-align: center;
}