$en-us-font: 'Hanna';
$zh-tw-font: 'jf open 粉圓字型';
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@font-face {
    font-family: $zh-tw-font;
    src: url('../../../Assets/fonts/jf-openhuninn-1.1.ttf');
}

.container {
    height: 90%;
    width: 90%;
    margin: 1rem auto;
    position: relative;
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #6C5E45;
        font-size: 48px;
        opacity: 0.6;
    }
}