#header {
    background-color: #FFFCF8;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px #AA9D87;
}

#header .logo2 {
    width: 25vh;
    cursor: pointer;
}