#register {
    height: 88vh;
    width: 60vw;
    box-shadow: 0px 2px 2px #AA9D87;
}

#register * {
    color: #6C5E45;
}

#register .back {
    width: 5vh;
    cursor: pointer;
}

#register span {
    font-family: 'Hanna', sans-serif;
}

#register input {
    border: 1px solid #AA9D87;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AA9D87 !important;
}

#register button {
    background-color: #AA9D87;
    border-radius: 10px;
    color: #fff;
    border: none;
}

#register button:hover {
    background-color: #6C5E45;
}

/* button animation */
#register button span {
    color: #fff;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#register button span:after {
    content: "Create!";
    position: absolute;
    opacity: 0;
    top: -18px;
    left: -10px;
    transition: 0.5s;
}

#register button:hover span {
    padding-left: 60px;
}

#register button:hover span:after {
    opacity: 1;
    left: 0;
}

@media screen and (max-width:768px) {
    #register {
        width: 100vw;
        height: 100vh;
    }
}